body {
    background:#786;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1, h2, p, li {
    color: black;
}

a {
    color: rgb(182, 182, 216)
}

p {
    background: #643;
    color: black;
    padding: 10px;
}